version: "3"
services:
    sqlserver:
        container_name: sqlserver
        image: "mcr.microsoft.com/mssql/server"
        environment:
            SA_PASSWORD: "yourStrong(!)Password"
            ACCEPT_EULA: "Y"
        ports:
            - "1433:1433"
    arquivei-api:
        container_name: arquivei-api
        image: jabulgareli/arquivei-api
        ports:
            - "5001:80"
        links:
            - sqlserver
        depends_on:
            - sqlserver
            - bolton-api
    bolton-api:
        container_name: bolton-api  
        image: jabulgareli/bolton-api
        ports:
            - "5000:80"
        links:
            - sqlserver
        depends_on:
            - sqlserver